#navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-bar-element {
    float: left;
}

.nav-bar-content {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar-content:hover:not(.active) {
    background-color: #ffffff;
}

.active {
    background-color: cadetblue;
}

#appLogo {
    background-color: #4CAF50;
}

body {
    background: #f7f7ff;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}

.me-2 {
    margin-right: .5rem !important;
}
conteneur {
    display: flex;
    justify-content: center;
}
#img {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}